.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.navbar_navbar-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar_navbar-links_items {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar_navbar-links_items p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 2px;
}

.navbar_button {
  border-radius: 12px;
  border: 1px solid #023047;
  background: #023047;
  color: white;
  padding: 12px 21px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
